<%- include('partials/header') %>

<style>
 .mainbox{
     margin: 1rem;
     padding:0.5rem;
 }
</style>

<div class="container mainbox">


<div class="row justify-content-md-center">
    <div class="col-6">

        <img class="text-center" src="namaste.jpg" alt="Welcome Image" style="width:80%;">

    </div>
    <br><br>
    <div class="col-6">

        <h1>Welcome  <%= Username %>  </h1>

    </div>
</div>

</div>
<%- include('partials/footer') %>